{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Halaman Login SILABKOM</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
    {% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0; url={% url 'menu_admin' %}">
    {% else %}
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block">
                                <img src="{% static 'img/logo.png' %}" alt=""
                                    style="background-position: left; background-size: cover; width: 450px; height: 450px;">
                                <h3 class="text-center body-text ">SILABKOM</h3>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">WELCOME TO SILABKOM</h1>
                                        <h3 class="h4 text-gray-900 mb-4">Jurusan Manajemen Informatika</h3>

                                    </div>
                                    <form method="post" class="user">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="username" class="form-label">Username:</label>
                                            <input type="username" id="username" name="username" required>
                                        </div>
                                        <div class="mb-3">
                                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                            <script>
                                              $(document).ready(function() {
                                                $('.toggle-password-icon').click(function() {
                                                  $(this).toggleClass('fa-eye fa-eye-slash');
                                                  var input = $($(this).attr('toggle'));
                                                  if (input.attr('type') === 'password') {
                                                    input.attr('type', 'text');
                                                  } else {
                                                    input.attr('type', 'password');
                                                  }
                                                });
                                              });
                                            </script>
                                            <div class="toggle-password">
                                                <label for="password" class="form-label">Password:</label>
                                              <input type="password" id="password" name="password" required>
                                              <i class="toggle-password-icon fa fa-eye" toggle="#password"></i>
                                            </div>
                                        <br>
                                        <button class="btn btn-primary"> Login</button>
                                        <button type="reset" class="btn btn-dark">Reset</button>
                                       
                                        <br>
                                        <div class="mt-3">
                                            <a href="" class="me-2">Lupa Password</a>
                                            <a href="{%url 'daftar'%}" class="">Daftar Sekarang!</a>
                                        </div>
                                    </form>
                                    <hr>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    {% endif %}

    <!-- Bootstrap core JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>