{% extends 'beranda.html' %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-1">
  <h1 class="h3 mb-0 text-gray-800 "><b>BIODATA</b></h1>
</div>
<h4 class="text-gray-800 mb-3 mt-3 text-center">BIODATA DIRI MAHASISWA</h4>
<div class="form">
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="nim" class="form-label">NIM</label>
      <input type="text" class="form-control" id="nim" name="nim" value="{{ mahasiswa.nim }}">
    </div>
    <div class="mb-3">
      <label for="nama" class="form-label">Nama Lengkap</label>
      <input type="text" class="form-control" id="nama" name="nama" value="{{ mahasiswa.nama }}">
    </div>
    <div class="mb-3">
      <label for="kelas" class="form-label">Kelas</label>
      <input type="text" class="form-control" id="kelas" name="kelas" value="{{ mahasiswa.kelas }}">
    </div>
    <div class="mb-3">
      <label for="semester" class="form-label">Semester</label>
      <input type="text" class="form-control" id="semester" name="semester" value="{{ mahasiswa.semester }}">
    </div>
    <button type="submit" class="btn btn-primary" style="margin-bottom: 70px;">{{button_text}}</button>
  </form>
</div>
{% endblock content%}